.grid {
  text-align: center;
  border:5px solid #013cb2;
  margin: 0 auto;
  padding: 0;
  height: 500px;
  width: 500px;
  line-height:0;
  font-size:0;
  overflow: hidden;
}

.item {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

#container{
  margin-top: 30px;
}

.show{
  display: inline-block;
}

.hide{
  display: none;
}

.hover{
  background-color: #013cb2;
}
